HTTP Transport compression for Layer downloads

We should add transport layer compression support for the registry server. This should be compliant with [RFC7231, Section 5.3.4](http://tools.ietf.org/html/rfc7231#section-5.3.4). This can be implemented as a wrapper around the main application that detects `Accept-Encoding` headers and acts on the contents.

Supersedes docker/docker-registry#694.

After some research on the subject I don't think this is worth doing. Mainly because tarsum supports and enabled compression so layers pushed to a repository are already compressed with gzip.  

Also: there is some ambiguity about Content-Ranges and Etags acting on compressed data (see discussion [here](https://github.com/daaku/go.httpgzip/issues/2) ).


@RichardScothern Agreed. This is unfortunate. We may want to state this somewhere.